@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

:root {
  --Gunmetal: #253347;
  --Blue: #345ff6;
  --DarkElectricBlue: #5e6e85;
}

* {
  font: 600 20px/1.1 Inter;
  letter-spacing: calc(-5 * 0.01em);
  color: var(--Gunmetal);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font: 400 16px/1.5 Inter;
  color: var(--DarkElectricBlue);
}

.small {
  font: 400 14px/1.5 Inter;
  color: var(--Gunmetal);
}

.bold {
  font: 600 16px/1.5 Inter;
  color: var(--Gunmetal);
}

#calculator {
  width: 564px;
  height: 484px;
  border-radius: 16px;
  background-color: #fff;
  padding: 32px;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

#hero {
  width: 88%;
  height: 737px;
  margin-left: 24px;
  padding-left: 116px;
}

#result {
  background-color: var(--Blue);
  border-radius: 16px 100px 100px 16px;
  width: 100%;
  height: fit-content;
  padding: 32px;
  display:flex;
  p,
  span {
    color: #fff;
  }
  p {
    width: 45%;
  }
}
