:root {
  --gray: #38384f;
  --color-text: #ffffff;
  --color-hover: #838391;

  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6f2ed6;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;

  --color-background: #070724;
  --background-image: url("/images/background-stars.svg");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
}

body {
  background-color: var(--color-background);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
