@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --app-font: "NotoSans", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  --bg-color: linear-gradient(180deg, #EBF2FC 0%, #EEFBF9 100%);
}

.dark {
  --bg-color: linear-gradient(180deg, #04091B 0%, #091540 100%);
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: var(--bg-color);
  font-family: var(--app-font);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
