article {
  min-width: 343px;
  width: 33%;
  max-width: 382px;
  background-color: #fbfdfe;
  border: 1px solid #d6e2f5;
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  box-shadow: 0px 2px 2px 0px rgba(194, 206, 225, 22),
    0px 2px 5px 1px rgba(194, 206, 225, 22);
}
img {
  float: left;
  margin-right: 16px;
}
h2 {
  margin: 0;
  margin-bottom: 8px;
  color: #091540;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-size: 20px;
}
p {
  margin: 0;
  color: #535868;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-size: 16px;
  height: 50px;
}

.darkMode {
  background-color: #202535;
  border-color: #535868;
  box-shadow: none;
  & h2 {
    color: #fbfdfe;
  }
  & p {
    color: #c6c6c6;
  }
  & .button--remove {
    background-color: #202535;
    color: #fbfdfe;
    border-color: #535868;
  }
  & .button--active {
    background-color: #f25c54;
  }
  & .button--active.inactive {
    background-color: #535868;
  }
}

.controls {
  display: flex;
  font-family: var(--app-font);
  justify-content: space-between;
  margin-top: 30px;
}

.button--remove {
  font-family: var(--app-font);
  padding: 8px 16px;
  width: fit-content;
  border-radius: 50px;
  border: 1px solid #c6c6c6;
  background-color: #eee;
  color: #091540;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: #c7231a;
    color: #fbfdfe;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #c7231a;
  }

  &:active {
    background-color: #eee;
    color: #091540;
  }
}

.button--active {
  background-color: #c7231a;
  padding: 2px;
  border-radius: 100px;
  width: 36px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & .dot {
    background-color: #fbfdfe;
    width: 16px;
    height: 16px;
    border-radius: 50px;
  }

  &.inactive {
    background-color: #c6c6c6;
    justify-content: flex-start;
    &:hover {
      background-color: #c6c6c6;
    }
  }

  &:hover {
    background-color: #c7231a;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #c7231a;
  }
}
