.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid rgb(151, 151, 151, 0.2);
  width: 96vw;
  height: 8.3vh;
  padding: 0 2vw;
}

.header__title {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: auto;
  letter-spacing: -1.05px;
}

.header__nav {
  height: 100%;
}

.header__list {
  display: flex;
  height: 100%;
  margin: 0;
}

.header__item {
  list-style: none;
  height: 100%;
}

.header__button {
  text-transform: uppercase;
  background: none;
  border: none;
  color: white;
  height: 100%;
  border-top: 4px solid transparent; /* Reserve space */
  transition: border-color 0.2s;
  opacity: 0.75;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

.header__button--active {
}

.header__button--mercury:hover {
  border-top: 4px solid var(--color-mercury);
  opacity: 1;
}
.header__button--venus:hover {
  border-top: 4px solid var(--color-venus);
  opacity: 1;
}
.header__button--earth:hover {
  border-top: 4px solid var(--color-earth);
  opacity: 1;
}
.header__button--mars:hover {
  border-top: 4px solid var(--color-mars);
  opacity: 1;
}
.header__button--jupiter:hover {
  border-top: 4px solid var(--color-jupiter);
  opacity: 1;
}
.header__button--saturn:hover {
  border-top: 4px solid var(--color-saturn);
  opacity: 1;
}
.header__button--uranus:hover {
  border-top: 4px solid var(--color-uranus);
  opacity: 1;
}
.header__button--neptune:hover {
  border-top: 4px solid var(--color-neptune);
  opacity: 1;
}
