<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />

    <title>Planets fact site</title>
  </head>
  <body>
    <header>
      <h1>The planets</h1>
      <nav>
        <ul>
          <li><a href="./mercury.html">Mercury</a></li>
          <li><a href="./venus.html">Venus</a></li>
          <li><a href="./earth.html">Earth</a></li>
          <li><a href="./mars.html">Mars</a></li>
          <li><a href="./jupiter.html">Jupiter</a></li>
          <li><a href="./saturn.html">Saturn</a></li>
          <li><a href="./uranus.html">Uranus</a></li>
          <li><a href="./neptune.html">Neptune</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img
        id="planet-image"
        src=""
        alt=""
        width="290"
        height="290"
      />
      <section>
        <h2 id="planet-name"></h2>
        <p id="information"></p>
        <p id="source">
          Source :<a
            id="source-link"
            href="#"
            target="_blank"
            rel="noopener"
            >Wikipedia
            <img
              src="./images/icon-chevron"
              alt=""
              width="12"
              height="12"
            />
          </a>
        </p>
        <ol id="sections">
          <li>Overview</li>
          <li>Internal structure</li>
          <li>Surface geology</li>
        </ol>
      </section>
      <aside>
        <div id="rotation">
          <h3>Rotation time</h3>
          <p id="rotation-value"></p>
        </div>
        <div id="revolution">
          <h3>Revolution time</h3>
          <p id="revolution-value"></p>
        </div>
        <div id="radius">
          <h3>Radius</h3>
          <p id="radius-value"></p>
        </div>
        <div id="temperature">
          <h3>Average temp.</h3>
          <p id="temperature-value"></p>
        </div>
      </aside>
    </main>
  </body>
</html>
